/*O que estiver antes do elemento .example-spacer no html
ficará à esquerda na tela. O que estiver depois do .examplespacer ficará à direita.*/
.example-spacer {
    flex: 1 1 auto;
}

span {
    padding: 10px;
}

img {
    height: 50px;
    width: 50px;
}
a{
    text-decoration: none;
    color: white;
    }